*{
    padding: 0px;
    margin: 0px;
    font-family: 'PT Serif', serif;
}
/*
body {
    background: url(../imagenes/fondo2.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
*/

.contenedor{
	width: 100%;
	height: 100%;
	background: url(../imagenes/fondo2.jpg);

}
/**/
.encabezado1{
	width: 100%;
	height: 20%;
	background-color: #CD5C5C;

	
    display: flex;
    justify-content: center;

    
    
    box-shadow:inset 0 0 20px #000;
	padding: 20px;
	box-sizing: border-box;
    
}

.conten-encabzd{
	display: inline-flex;
	align-content: center;
	

}
.logo{
	width: 120px;
    height: 120px;
    display: inline-block;
	
	background-color: 
	border: 1px solid #fff;
	align-items: flex-end;
	
}
.img-logo{
	width: 150px;
    height: 150px;
    

}
.nombre{
	width: 500px;
    height: 120px;
    display: inline-block;
    background-color: 

}
.bisuteria-nombre{
	text-align: center;
	font-weight: 900;
	font-family: Monotype Corsiva;
	line-height: 1.5;
	color: #fff;
	text-shadow: 3px 3px 6px #555;

}
.banner{
	width: 260px;
    height: 120px;
    display: inline-block;
	
	background-color: 
	border: 1px solid #fff;
}
.img-banner{
	width: 260px;
    height: 120px;
}

/*
.encabezado2{
	width: 100%;
	height: 10vh;
	background-color: #008080;

	
    display: flex;
    justify-content: center;

    
    
    box-shadow:inset 0 0 20px #000;
	padding: 6px;
	
    
}
.conten-barras{
	background-color: yellows;
	width: 70%;
	height: 15vh;
	float: left;
	box-sizing: border-box;
	justify-content: center;
}
.nav {
	
	background-color: greens;
	display: flex;	
	align-self: center;

	
    
    height: 100%;
} 
ul{
    list-style: none;
}
.barra-navegacion{
	background-color: reds;
	height: 100%;
	width: 100%;
}
.nav__responsive-ul{
	background-color: grays;
	margin: 5px;
	height: 90%;
	width: 100%;
	align-content: center;
	

}
.nav__li{
	display: inline-block;
	padding: 12px
	color:#fff;
	border-radius: 5px;
	border:4px solid #00008b;
	background-color: #00008b;
	height: 25px;


}
.nav__li:hover > a{
	color: #fff;
}
.nav__li:hover {
	background-color: #191960;
	border: 4px solid #191960;
}

.nav__li a {
	color: #fff;
	text-decoration: none;
}

.nav__li i {
	box-sizing: border-box;
	text-align: right;
	margin-right: 5px;
}
.NAV_ul li ul{
    display: none;
    position: absolute;
}
.NAV__li1{
    padding: 10px;
    background: rgb(65, 65, 65);
    border: 1px solid rgb(0, 0, 0);
}
.NAV_ul li:hover>ul{
    display: block;
}

.NAV__li1:hover{
    background: rgb(43, 43, 43);
}
.NAV_ul{
    display: inline-flex;
    width: 100%;
    list-style: none;
}
.NAV__li:hover{
    background: linear-gradient(to bottom,transparent,rgba(0, 0, 0, 0.678));
}


.barra-busqueda{
	background-color: red;
	width: 20%;
	height: 15vh;
	float: right;
	box-sizing: border-box;
}

/*
.conten-barras{
	display: inline-flex;

}
.barra-navegacion{
	float: left;
	
	width: 80%
	height: 20vh;
	background-color: YELLOW;
	border: 1px solid #fff;
	background-color: red;
}
.barra-busqueda{
	float: right;
	background-color: GREEN;
	width: 20%
	height: 20vh;
}*/

.encabezado{
	background-color: #800080;
	width: 100%;
	height: 60px;
}
.nav {
	background-color: yellow;
	
}


.nav__ul{
	background-color: #800080;
	width: 60%;
	float: left;
	text-align: center;
	padding: 10px;

}
.nav__li{
	display: inline-block;
	padding: 20px
	color:#fff;
	margin: 5px;

}
.nav__li:hover > a{
	color: #BC8F8F ;
}
.nav__li:hover {
	color: #BC8F8F ;
}

.nav__li a {
	color: #fff;
	text-decoration: none;
}

.nav__li i {
	box-sizing: border-box;
	text-align: right;
	margin-right: 5px;
	color: #BC8F8F ;
}


.form-bus{
	background-color: #800080;
	width: 30%;
	float: right;
	text-align: end;
	padding: 10px;
	display: inline-block;
}
.div-bus{

}
.text-bus{
	padding: 4px;
}
.input-busqda{
	
	border-radius: 5px;
	color: #fff;
	padding: 5px;
	font-size: 15px;
	border: none;
    
    border: 3px inset #FFB6C1;
    
}
.input-buscar{
	background-color: #BC8F8F;
	border-radius: 5px;
	color: #fff;
	padding: 5px;
	font-size: 15px;
	border: none;
}






/**/

.izquierda{
	float: left;
	width: 30%;
	height: 80%;
	background-color: #DCDCDC;
	color: #000;
	
    box-sizing: border-box;
    border-right: 4px solid #999;
    align-content: center;
}
.img-content{
	display: flex;
	flex-direction: column;
	width: 100%
	height: 100%;
	box-sizing: border-box;
	padding-left: 65px;

}
.img{
	width: 200px;
	height: 150px;
	box-shadow: 0 0 10px 0 #999;
	margin: 3px;
	

}
.texto{
	padding: 15px;
	margin: 5px;
}
.text{
	font-size: 20px;
	font-family: georgia;
	text-align: center;
	padding: 15px;
	margin: 5px;
}
/**/
.derecha{
	float: right;
	width: 70%;
	height: 80%;
	background-color: #fff;
	color: #fff;
	
	
    box-sizing: border-box;
}
.contenido{
	margin: 30px;
	box-sizing: border-box;
	color: #000;
}
.text1{
	
	text-align: center;
}
.text2{
	color: #1E90FF;
}
.img1{
	width: 100%;
	height: auto;
}
.conten{
	text-align: center;
	font-size: 20px;
	font-family: Mongolian Baiti;
	color: #000;
}

/**/
.piedepagina{
	float: right;
	width: 100%;
	height: 10%;
	background-color: black;
}



footer{
    display: flex;
    justify-content:space-around;
    width: 100%;
    background: rgb(0, 0, 0);
    position: absolute;
    padding: 5px;
}

.FOO{
    text-align: center;
    padding: 5px;
    margin: 10px;
}
.FOO h2,p{
    color: #FFF;
}
.FOO:hover{
    border-bottom: 2px solid #FFF;
    
}

.FOO a{
    text-decoration: none;
    color: #FFD700;
}

.Redes_cont{
    display: flex;
    justify-content: flex-end;
}

.Redes_cont_img{
    width: 55px;
    padding:10px ;
    height:auto;

}

.Redes_cont_img img{
    width: 100%;
    height: 100%;
}

/*--datos usuario*/

.DatosUsuario{
    margin: 5px;
}
.Estados{
    margin:10px;
    padding: 20px;
    box-shadow: 2px 2px 15px 0 rgb(0, 0, 0);
}
.Estados h1{
    border-bottom: 2px solid rgb(109, 0, 235);
}

.Pedidos{
    display: inline-flex;
    width: 100%;
}
.Pedidos div{
    width: 40%;
}
.Pedidos p{
    font-size: 1.5em;
}
.Estados p{
    font-size: 1.5em;
}

.Devolucion{
    padding: 15px;
}

.Tarjeta{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.Tarjeta__input{
    width: 150px;
}
.Direccion{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.Direcciona__class-input{
    width: 150px;
}
.Cambios{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}





/*Nosotros*/
.img5{
	width: 40%;
	height: auto;	
	justify-content: center;
	margin-left: 100px;
}

/*Productos*/


.contenido-{
	width: 100%
	height: 100%;
	padding: 20px;
}
.img-content2-{
	
	width: 40%
	height: 50%;
	
	float: left;
	box-sizing: border-box;
}


.cont-img{
	box-sizing: border-box;
	display: inline-block;
	width: 100%%
	height: 100%;
	margin: 10px;
}
.img-content3-{
	width: 40%
	height: 50%;
	
	float: center;
	box-sizing: border-box;
}

.img-{
	width: 250px;
	height: 250px;
}
.text-cont{
	box-sizing: border-box;
	text-align: center;
	color: #000080;
	font-weight: 900;
	font-size: 18px;

}
.img-content4-{
	width: 40%
	height: 50%;
	
	float: right;
	box-sizing: border-box;
}

.text2{
	color: #800000;
	text-align: center;
}
.text2{
	color: #1E90FF;
}


/*Iniciar sesion*/
.clic{
	text-align: center;
	color: #B8860B;
	box-sizing: border-box;
}
.sesion{

}
.imgs{
	display: flex;
	
	margin-left: 280px;
	margin-right: 280px;
	
	box-sizing: border-box;
}

.aside{
	box-sizing: border-box;
   
}
.flex-container1 {
    display: flex;
    
    flex-wrap: wrap;

    background: #fff;
    
 	border-radius: 10px;
    box-shadow: 0 0 10px 0 #999;
    padding: 20px;
    box-sizing: border-box;
}
.flex-container1{
	background-color: #fff;
	width: 95%;
	display: block;
	box-sizing: border-box;
}
.form{
	text-align: center;
}
.form__section{
	box-sizing: border-box;
	align-content: center;
	width: 100%;
	height: 100%;
	padding-left: 20px;

	
}
.form__input{
    width: 95%; /*Para que el input sea mas ancho o mas corto*/
    padding: 10px;
    margin: 7px 0;
    border: none;
    background-color: transparent;
    align-content: center;
    font-size: 17px;
    border: 1px solid #999;
    border-radius: 5px;
    
}
.iniciar-sesion{
	background-color: #1e90ff;
	border-radius: 5px;
	color: #fff;
	padding: 10px;
	font-size: 23px;
	border: none;
	width: 100%;
}
.iniciar-sesion:hover {
	background-color: #4169e1;
}
.iniciar-sesion:active {
	background: linear-gradient(to bottom, #4169e1, #1e90ff);
	border-bottom: 2px solid blue;
}


.olvidar-contraseña{
	border-bottom: 1px solid #999;
    background: transparent;
    color: #1e90ff;
    border:none;
    font-size: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
    width: 95%;
    line-height: 40px;

}
.olvidar-contraseña:hover {
	color: #4169e1;
	font-weight: 900px;
}
.iniciar-sesion:active {
	background: linear-gradient(to bottom, #4169e1,#1e90ff);
	color: blue;
}


.crear-cuenta{
	background-color: #32cd32;
	border-radius: 5px;
	color: #fff;
	padding: 10px;
	font-size: 23px;
	border: none;
}
.crear-cuenta:hover {
	background-color: #008000;
}
.crear-cuenta:active {
	background: linear-gradient(to bottom, #008000, #32cd32);
	border-bottom: 2px solid #006400;
}

.bto{
	background-color: #B8860B;
	border-radius: 5px;
	color: #fff;
	padding: 5px;
	font-size: 15px;
	border: none;
}
.bto:hover{
	background-color: #8B4513;
}
.bto:focus{
	background: linear-gradient(to bottom, #8B4513, #B8860B);
	border-bottom: 2px solid #006400;
}












/*Iniciar sesion*/




